:root {
  --paragraph-margin-bottom: .85em;
}

sup, sub {
  font-size: 0.8em !important;
}

figure {
  margin-bottom: var(--paragraph-margin-bottom);
}

figcaption {
  text-align: center !important;
}

.book.font-family-0 {
  font-family: 'Noto Serif JP', serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.book.font-family-1 {
  font-family: 'Noto Sans JP' sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

table.caption {
  margin-bottom: 0;
}

.markdown-section code {
  font-family: 'BIZ UDGothic', monospace !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
