:root {
  --paragraph-margin-bottom: .85em;
}

sup, sub {
  font-size: 0.8em !important;
}

figure {
  margin-bottom: var(--paragraph-margin-bottom);
}

figcaption {
  text-align: center !important;
}

.book.font-family-0 {
  font-family: 'Noto Serif JP', serif !important;
}

.book.font-family-1 {
  font-family: sans-serif !important;
}

table.caption {
  margin-bottom: 0;
}
